<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Caesar Cipher</title>
</head>
<body>

  <h2>Caesar Cipher</h2>

  <form>
    <label for="shift-factor">Shift factor:</label>
    <input type="number" name="shift_factor" id="shift-factor" value="3" style="width: 30px">
    <label for="message">Message:</label>
    <input type="text" name="message" id="message" style="width: 350px" autofocus>
    <input type="submit" name="encrypt" value="Encrypt">
    <input type="submit" name="decrypt" value="Decrypt">
  </form>

  <% unless processed_message.empty? %>
    <% if encrypt %>
      <h3>Encrypted message:</h3>
    <% else %>
      <h3>Decrypted message:</h3>
    <% end %>

    <p><%= processed_message %></p>
  <% end %>

</body>
</html>
