<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Caesar Cipher</title>
</head>
<body>

  <h2>Caesar Cipher</h2>

  <form>
    <label for="shift-factor">Shift factor:</label>
    <input type="number" name="shift_factor" id="shift-factor" value="3" style="width: 30px">
    <label for="message">Message to encript:</label>
    <input type="text" name="message" id="message" style="width: 350px" autofocus>
    <input type="submit" value="Encript">
  </form>

  <h3>Encripted message:</h3>

  <p><%= encripted_message %></p>

</body>
</html>
